<div class='col-sm-12 col-lg-6'>
  <div class="card">
    <%= link_to post do %>
      <div class="card-topper" style='background-image: url(<%= post.banner_image_url %>);'></div>
    <% end %>
    <div class="card-block">
      <h4 class="card-title"><%= link_to post.title, post %></h4>
      <p></p>
        <p class="card-text"><%= link_to truncate(post.description, length: 100) %></p>
        <div class="author-bio ">
        <span><%=image_tag(post.author.gravatar_image_url)%></span>  <%=post.author.name %>
        <h6 class="published-date"><%=post.display_day_published %></h6>
        </div>
    </div>
  </div>
</div>
